<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
         <section>
                   <div class="card card-add mb-5" th:if="${contact}">
                        <div class="card-body">
                              <div class="container text-center">
                                     <img class="my-profile-image" src="" th:src="@{'/img/'+${contact.image}}" alt="Profile photo" />
                                     <h3 class="mt-3">
                                          <span th:text="${contact.name}"></span> (<span th:text="${contact.secondName}"></span>)
                                     </h3>
                                     <table class="table mt-5 bg-light">
									  <thead>
									    <tr>
									      <th scope="col">#Id</th>
									      <th scope="col"><span th:text="${contact.cId}"></span></th>
								    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>Email</td>
									      <td><span th:text="${contact.email}"></span></td>
									    </tr>
									     <tr>
									      <td>Phone</td>
									      <td><span th:text="${contact.phone}"></span></td>
									    </tr>
									     <tr>
									      <td>Department</td>
									      <td><span th:text="${contact.department}"></span></td>
									    </tr>
									     <tr>
									      <td>Profession</td>
									      <td><span th:text="${contact.profession}"></span></td>
									     </tr>
									   <tr>
									      <td>Postal code</td>
									      <td><span th:text="${contact.postalcode}"></span></td>
									    </tr>
									     <tr>
									      <td>Prefecture</td>
									      <td><span th:text="${contact.prefecture}"></span></td>
									    </tr>
									     <tr>
									      <td>City</td>
									      <td><span th:text="${contact.city}"></span></td>
									     </tr>
									  </tbody>
									</table>
									<div class="container">
									   <a th:onclick="|deleteContact(${contact.cId})|" class="btn btn-danger btn-sm">Delete</a>
									     <form class="mt-2" th:action="@{'/user/update-contact/'+${contact.cId}}" method="post">
                                          <button type="submit" class="btn btn-success btn-sm">Update</button>
                                         </form>
									</div>
                              </div>
                        </div>
                   </div>
                   <h1 class="text-center bg-danger text-white p-3" th:unless="${contact}">You don't have permission to see this contact</h1>
         </section>
</body>
</html>