<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
         <section>
            <div class="container">
           <div class="row">
             <div class="col-md-4 col-lg-4 col-sm-4 container justify-content-center card marfixed">
                <h1 class="text-center">Login Page</h1>
                 <!-- Error message -->
                <div th:if="${param.error}">
                     <div class="alert alert-danger">
                           Invalid username or password
                     </div>
                </div>
                <!-- logout message -->
                <div th:if="${param.logout}">
                     <div class="alert alert-info">
                           You have been logged out
                     </div>
                </div>
                <div class="card-body">
                     <form th:action="@{/dologin}" method="POST">
                         <div class="form-group">
                           <label>Email Id</label>:
                           <input type="text" id="username" name="username"
                             class="form-control" placeholder="Enter Email ID" required />
                         </div>
                          <div class="form-group">
                           <label>Password</label>:
                           <input type="password" id="password" name="password"
                             class="form-control" placeholder="Enter your Password" required />
                         </div>
                        <div class="form-group">
                              <input type="submit" name="login-submit" id="login-submit"
                              class="form-control btn btn-primary" value="LogIn" /> 
                         
                        </div> 
                         <div class="footer-body">
                               <span>
                                     New User ? <a href="/" th:href="@{/signup}">
                                           Register here
                                     </a>
                               </span>
                         </div>
                     </form>
                </div>
             </div>
           </div>
      </div>

   
         </section>
</body>
</html>