<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
      <section>
      <div class="container">
           <div class="row">
               <div class="col-md-6 offset-md-3 marsign">
                  
                   <div class="my-card mt-5">
                       <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                           <p th:text="${session.message.content}"></p>
                           <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                       </div>
                       <div class="container text-center">
                          <img class="signupdesign" th:src="@{/img/signup.png}" alt="signupimage"/>
                       </div>
                      <h1 class="text-center">Register Here!!</h1>
                      <form novalidate th:action="@{/do_register}" method="post" th:object="${user}">
                      
                      <!-- Name field -->
                      <div class="form-group">
                           <label for="name_field">Your name</label>
                           <input 
                                  name="name"
                                  type="text"
                                  class="form-control"
                                  th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                  id="name_field"
                                  placeholder="Enter here"
                                  required
                                  th:value="${user.name}"
                           />
                           <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
                               
                           </div>
                      </div>
                      <!-- Email field -->
                      <div class="form-group">
                           <label for="email_field">Email Id</label>
                           <input 
                                  name="email"
                                  type="email"
                                  class="form-control"
                                  th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                  id="email_field"
                                  placeholder="Enter here"
                                  required
                                  th:value="${user.email}"
                           />
                        <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}">
                        </div>
                      </div>
                      <!-- Password field -->
                      <div class="form-group">
                           <label for="password_field">Password</label>
                           <input 
                                  name="password"
                                  type="password"
                                  class="form-control"
                                  th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                  id="password_field"
                                  placeholder="Enter here"
                                  required
                           />
                           <div class="invalid-feedback" th:each="e:${#fields.errors('password')}" th:text="${e}">
                           </div>
                      </div>
                      <!-- Terms and condition agreement -->
                      <div class="form-group form-check">
                           <input 
                                 type="checkbox"
                                 name="agreement"
                                 class="form-check-input"
                                 id="agreement"
                                 />
                            <label for="agreement">Accept terms and condition</label>
                      </div>
                      <div class="container text-center btn-margin">
                           <button type="submit" class="btn btn-primary text-white">Submit</button>
                           <button type="reset" class="btn btn-success text-white">Reset</button>
                      </div>
                      </form>
                   </div>
               </div>
           </div>
      </div>
      </section>
</body>
</html>